<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <div class="">

      <select name="airline_id">
        <% for (let i = 0; i < airline.length; i++){ %>
          <option value="<%= airline[i].id %>"><%= airline[i].name%></option>

        <% } %>
      </select>

    </div>

  </body>
</html>
