<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Airline</title>
  </head>
  <body>
    <form class="" action="/airline/new" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="description" placeholder="Description">
      <button type="button" name="button"></button>
    </form>
  </body>
</html>
