<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Airline</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="../style.css">
  </head>
  <body class="airline-new">
    <div class="container-fluid">
    <div class="row">
      <nav class="navbar nav-airline-new navbar-inverse">
      <h1 class="title-thing">CREATE YOUR AIRLINE!</h1>
    </nav>
    </div>
    <form class="" action="/airline/new" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="description" placeholder="Description">
      <button class="btn btn-primary" type="submit" name="button">Submit</button>
    </form>
  </div>
  </body>
</html>
