<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New User</title>
  </head>
  <body>
    <form action="/createUser" method="post">
      <input type="text" name="name" placeholder="New User">
      <input type="text" name="email" placeholder="Email">
      <input type="text" name="pw" placeholder="Password">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
