* {
  font-family: 'Rokkitt', serif;
}

.background {
  background-image: url('http://www.montalegre-do-cercal.info/Kinderseite/Malvorlagen/Flugzeuge/Flugzeug8.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  height: 1000px;
}

header {
  margin-left: 630px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.row {
  margin-left: 40px;
}

.welcome {
  margin-left: 200px;
}

.dropdown{
  width: 500px;
}

.textarea {
  width: 300px;
  height: 100px;
}

.border{
  border: 1px solid black;
  padding: 5px;
}
